<p>Hi User,</p>

<p>We received a registration request from this email address. If that was
you, then you can use the link below to confirm your registration.</p>

<p><a href="{{ base_url }}/confirm/{{ code }}">{{ base_url }}/confirm/{{ code }}</a></p>

<p>However, if you were not the one who made this registration, then you
can safely ignore this email.<p>

Regards,<br>
The Alumni Team
