{% extends "summernote.twig" %}

{% block content %}
  <div class="container">
    <form method="post">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input type="text" class="input" name="title" value="{{ content.title }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Content</label>
        <textarea id="summernote" name="body">{{ content.body }}</textarea>
      </div>

      <input type="hidden" name="subtitle" value="{{ content.subtitle }}">
      <input type="hidden" name="content_key" value="{{ content.content_key }}">

      <div class="field has-text-right">
        <button class="button is-success">
          Update
        </button>
      </div>
    </form>
  </div>
{% endblock %}
