{% extends "base.twig" %}

{% block js %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <form method="post">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input type="text" class="input" name="title">
        </div>
      </div>

      <div class="field">
        <label class="label">Content</label>
        <div id="summernote"></div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    $('#summernote').summernote({
      placeholder: 'something..',
      tabsize: 2,
      height: 100
    });
  </script>
{% endblock %}
