{% extends "base.twig" %}

{% block content %}
  <div class="container">
    <h1 class="title">
      {{ intro.title }}
    </h1>

    <div>
      {{ intro.body | raw }}
    </div>

    {% if user == 1 %}
      <a href="/edit_content/intro_message">Edit</a>
    {% endif %}
  </div>
{% endblock %}
