{% extends "base.twig" %}

{% block content %}
  <div class="container">
    <h1 class="title">
      {{ intro.title }}
    </h1>

    <div>
      {{ intro.body | raw }}
    </div>
  </div>
{% endblock %}
