{% extends "base.twig" %}

{% block content %}
  <p>Thank you for your registration!</p>

  <p>You should receive an email soon with a link to confirm your email
  address. Please follow the instructions in the email in order to 
  complete your registration.</p>
{% endblock %}
