{% extends "summernote.twig" %}

{% block content %}
  <div class="container">
    <form method="post">
      <div class="field">
        <label class="label">Project Name</label>
        <div class="control">
          <input type="text" class="input" name="project_name">
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea id="summernote" name="description"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Status</label>
        <div class="control">
          <div class="select">
            <select>
              <option value="proposed">Proposed</option>
              <option value="pending">Pending</option>
              <option value="active">Active</option>
              <option value="done">Done</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field has-text-right">
        <button class="button is-success">
          Save
        </button>
      </div>
    </form>
  </div>
  
{% endblock %}
