{% extends "default.twig" %}

{% block content %}
  {% if user == 1 %}
    <a href="/add_project">Add Project</a>
  {% endif %}

  <h1 class="title">Open Projects</h1>

  {% for project in projects %}
    {% if loop.first %}
      <table class="table">
        <thead>
          <tr>
            <th>Project Name</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}

    <tr>
      <td>{{ project.project_name }}</td>
    </tr>

    {% if loop.last %}
      </tbody>
      </table>
    {% endif %}
  {% else %}
    <p>There are currently no projects.</p>
  {% endfor %}
{% endblock %}
